@import "../../assets/sass/variables.scss";
@import "../../assets/sass/mixins.scss";

.booksDetails {
  width: 100%;

  &Container {
    width: 80%;
    margin: 0 auto 100px;

    .top {
      @include center($justify-content: space-between);
      font-family: $base-font2;
      padding: 30px 0;
      color: $base-color3;

      h1 {
        font-size: 64px;
      }

      .breadCrumb {
        @include center();
        gap: 12px;
        font-size: 16px;
        font-weight: 600;

        .fa-house,
        p {
          color: $base-color1;
          font-size: 14px;
          cursor: pointer;
        }

        .fa-angle-right {
          font-size: 12px;
          color: #555f66;
        }

        p {
          font-family: "Open Sans", sans-serif;
        }
      }
    }

    .bottom {
      @include center(
        $justify-content: space-between,
        $align-items: flex-start
      );
      gap: 50px;

      .left {
        flex: 1;
        .bookImage {
          img {
            width: 100%;
          }
        }
      }

      .right {
        flex: 1;

        .details {
          font-family: $base-font2;
          color: $base-color3;

          .bookName {
            h1 {
              font-size: 36px;
            }
          }

          .bookAuthor {
            p {
              font-size: 14px;
              font-weight: 500;
              color: #444;
            }
          }

          .rating {
            margin: 8px 0 10px;
          }

          .description {
            line-height: 1.5;
            color: #444;
          }

          .quantity {
            h3 {
              font-size: 14px;
              font-weight: 600;
            }

            .quantityDiv {
              @include center($justify-content: flex-start);
              gap: 30px;
              margin-top: 10px;
            }

            .quantityComponent {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100px;
              border: 1px solid $base-color1;
              border-radius: 20px;

              button {
                cursor: pointer;
                background-color: $base-color1;
                border: none;
                padding: 5px 10px;
                font-size: 18px;
                color: $base-color2;
                border-radius: 50%;
                width: 30px;
                height: 30px;
              }

              span {
                font-size: 16px;
                font-weight: bold;
              }
            }

            .cart {
              @include button();
              @include center();
              gap: 10px;
            }

            .wishlist {
              @include center();
              gap: 5px;
              width: max-content;
              padding: 8px 0;
              font-family: $base-font2;
              color: $base-color1;
              border: none;
              font-weight: 500;
              background-color: transparent;
              font-size: 13px;
              cursor: pointer;
              color: #6f7275;
              transition: all 0.2s ease-in-out;

              &:hover {
                color: $base-color1;
              }
            }
          }

          .information {
            line-height: 1.8;

            h4 {
              font-weight: 500;
              color: #444;
              font-size: 14px;
              letter-spacing: 1px;

              span {
                font-weight: 700;
                color: $base-color3;
              }
            }
          }

          .socialMediaIcons {
            ul {
              display: flex;
              list-style: none;
              @include center($justify-content: flex-start);
              gap: 20px;
              margin-top: 20px;

              li {
                font-size: 18px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                padding: 18px;
                @include center();
                cursor: pointer;

                a {
                  display: inline-block;
                  color: $base-color2;
                }
              }

              .facebook {
                background-color: #3b5998;
              }

              .twitter {
                background-color: #00acee;
              }

              .instagram {
                background-color: #d62976;
              }

              .pinterest {
                background-color: #c8232c;
              }
            }
          }
        }
      }
    }
  }
}
