@import "../../assets/sass/variables.scss";
@import "../../assets/sass/mixins.scss";

.popularAuthors {
  width: 100%;

  &Container {
    width: 80%;
    margin: 40px auto;

    .heading {
      @include center($justify-content: space-between);

      h1 {
        font-family: $base-font2;
        color: $base-color3;
        font-size: 36px;
      }

      .divider {
        width: 70%;
        height: 0.7px;
        background-color: $base-color3;
        opacity: 0.3;
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
      padding: 50px 10px;

      .author {
        @include center();
        flex-direction: column;
        gap: 25px;
        padding: 50px 10px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        img {
          width: 60%;
          border-radius: 50%;
        }

        h3 {
          color: $base-color3;
          font-family: $base-font2;
        }

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .popularAuthors {
    &Container {
      width: 85%;

      .heading {
        h1 {
          font-size: 18px;
        }

        .divider {
          display: none;
        }
      }

      .swiper {
        padding: 30px 5px;

        .swiper-pagination-bullet {
          width: 4px;
          height: 4px;
        }

        .author {
          padding: 10px 30px;
          gap: 10px;

          img {
            width: 50px;
          }

          h3 {
            font-size: 9px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
  .popularAuthors {
    &Container {
      width: 85%;

      .heading {
        h1 {
          font-size: 28px;
        }

        .divider {
          display: none;
        }
      }

      .swiper {
        padding: 30px 5px;
        height: 100%;

        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
        }

        .author {
          padding: 30px;
          gap: 25px;
          height: 200px;
          justify-content: flex-start;

          img {
            width: 80px;
            height: 80px;
          }

          .authorName {
            font-size: 12px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .popularAuthors {
    &Container {
      width: 85%;

      .heading {
        h1 {
          font-size: 28px;
        }

        .divider {
          width: 60%;
        }
      }

      .swiper {
        padding: 30px 5px;
        height: 100%;

        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
        }

        .author {
          padding: 30px;
          gap: 20px;
          height: 200px;
          justify-content: flex-start;

          img {
            width: 110px;
            height: 110px;
          }

          .authorName {
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
  .popularAuthors {
    &Container {
      width: 85%;

      .heading {
        h1 {
          font-size: 28px;
        }

        .divider {
          width: 60%;
        }
      }

      .swiper {
        padding: 30px 5px;
        height: 100%;

        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
        }

        .author {
          padding: 30px;
          gap: 20px;
          height: 230px;
          justify-content: flex-start;

          img {
            width: 120px;
            height: 120px;
          }

          .authorName {
            font-size: 14px;
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1199px) and (max-width: 1439px) {
  .popularAuthors {
    &Container {
      width: 85%;

      .heading {
        h1 {
          font-size: 28px;
        }
      }

      .swiper {
        padding: 30px 5px;
        height: 100%;

        .swiper-pagination-bullet {
          width: 6px;
          height: 6px;
        }

        .author {
          padding: 30px;
          gap: 20px;
          height: 250px;
          justify-content: flex-start;

          img {
            width: 150px;
            height: 150px;
          }

          .authorName {
            font-size: 16px;
            text-align: center;
          }
        }
      }
    }
  }
}
