@import "../../assets/sass/variables.scss";
@import "../../assets/sass/mixins.scss";

header {
  width: 100%;
  background-color: $base-color2;
  position: sticky;

  .headerContainer {
    width: 90%;
    margin: 0 auto;
    @include center($justify-content: space-between);
    padding: 15px 0;

    .logo {
      h1 {
        font-family: $base-font1;
        color: $base-color1;
        font-size: 36px;
      }
    }

    .searchBar {
      width: 35%;
      background-color: #fff;
      @include center();
      padding: 10px 0;

      input {
        width: 85%;
        outline: none;
        border: none;
        font-size: 15px;
        font-family: $base-font2;
        background-color: #fff;
        color: $base-color1;

        &::placeholder {
          font-size: 15px;
          font-family: $base-font2;
          color: rgba(0, 51, 102, 0.7);
        }
      }

      .fa-search {
        margin-left: 5px;
        font-size: 18px;
        color: $base-color1;
        transition: all 0.2s ease-in-out;
        cursor: pointer;

        &:hover {
          color: #002255;
        }
      }
    }

    .authButtons {
      display: flex;
      gap: 15px;

      .login,
      .register {
        padding: 8px 25px;
        font-family: $base-font2;
        color: $base-color1;
        border: 2px solid $base-color1;
        font-weight: 500;
        background-color: transparent;
        font-size: 15px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $base-color1;
          color: $base-color2;
        }
      }
    }

    .userIcons {
      @include center($justify-content: space-between);
      gap: 20px;

      span {
        color: $base-color1;
        cursor: pointer;
        font-family: $base-font2;
        @include center($justify-content: space-between);
        gap: 6px;
        font-size: 13px;
        font-weight: 400;
      }

      .cart {
        border-left: 1px solid #0033667d;
        border-right: 1px solid #0033667d;
        padding: 0 20px;
      }
    }
  }
}
