@import "../../assets/sass/variables.scss";
@import "../../assets/sass/mixins.scss";

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: $base-color2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  .headerContainer {
    width: 80%;
    margin: 0 auto;
    @include center($justify-content: space-between);
    padding: 20px 0;

    .logo {
      h1 {
        font-family: $base-font1;
        color: $base-color1;
        font-size: 36px;
        cursor: pointer;
      }
    }
    .search {
      width: 35%;
      position: relative;
      display: flex;
      flex-direction: column;

      .searchBar {
        width: 100%;
        background-color: #f0f0f0;
        @include center($justify-content: space-between);
        padding: 10px 20px;

        input {
          width: 85%;
          outline: none;
          border: none;
          font-size: 15px;
          font-family: $base-font2;
          background-color: #f0f0f0;
          color: $base-color1;

          &::placeholder {
            font-size: 15px;
            font-family: $base-font2;
            color: rgba(0, 51, 102, 0.7);
          }
        }

        .icons {
          @include center();
          gap: 10px;

          .fa-search {
            font-size: 18px;
            color: $base-color1;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              color: #002255;
            }
          }

          .fa-xmark {
            font-size: 18px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;
            color: rgb(183, 28, 28);

            &:hover {
              color: rgb(153, 24, 24);
            }
          }
        }
      }

      .searchResult {
        width: 100%;
        background-color: #f0f0f0;
        position: absolute;
        top: 45px;
        max-height: 450px;
        overflow-y: scroll;

        ul {
          list-style: none;
          @include center($align-items: flex-start);
          flex-direction: column;
          gap: 10px;
          font-family: $base-font2;

          li {
            @include center($justify-content: flex-start);
            gap: 20px;
            width: 100%;
            cursor: pointer;
            padding: 10px 15px;
            color: $base-color3;
            border-bottom: 1px solid #d6d6d6;

            img {
              width: 50px;
            }

            .infos {
              .title {
                font-size: 16px;
                font-weight: 700;
                color: $base-color3;
              }

              .author {
                font-size: 13px;
                margin: 3px 0 8px;
                color: #001a409b;
              }
            }
          }
        }
      }
    }

    .authButtons {
      display: flex;
      gap: 15px;

      .loginButton,
      .registerButton {
        @include button();
      }
    }

    .userIcons {
      @include center($justify-content: space-between);
      gap: 20px;

      span {
        color: $base-color1;
        cursor: pointer;
        font-family: $base-font2;
        @include center($justify-content: space-between);
        gap: 9px;
        font-size: 13px;
        font-weight: 400;

        .MuiBadge-badge {
          @include center();
          background-color: $base-color2;
          color: $base-color1;
          font-size: 12px;
          font-weight: 600;
          border: 2px solid $base-color1;
          margin-top: -2px;
        }
      }

      .cart {
        border-left: 1px solid #0033667d;
        border-right: 1px solid #0033667d;
        padding: 0 20px;
      }
    }
  }
}
