@import "../../assets/sass/variables.scss";
@import "../../assets/sass/mixins.scss";

.aboutUs {
  width: 100%;

  &Container {
    width: 80%;
    margin: 0 auto 100px;
    font-family: $base-font2;

    .top {
      @include center($justify-content: space-between);
      font-family: $base-font2;
      padding: 30px 0;
      color: $base-color3;

      h1 {
        font-size: 64px;
      }

      .breadCrumb {
        @include center();
        gap: 12px;
        font-size: 16px;
        font-weight: 600;

        .fa-house,
        p {
          color: $base-color1;
          font-size: 14px;
          cursor: pointer;
        }

        .fa-angle-right {
          font-size: 12px;
          color: #555f66;
        }

        p {
          font-family: "Open Sans", sans-serif;
        }
      }
    }

    .topImage {
      @include center();
      margin-top: 30px;
    }

    .heading {
      h2 {
        text-align: center;
        width: 55%;
        font-size: 24px;
        font-weight: 700;
        margin: 25px auto 50px;
      }
    }

    .bookstoreImage {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .ourStory {
      h2 {
        font-size: 48px;
        text-align: center;
        margin: 50px 0 20px;
      }

      p {
        font-size: 16px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 50px;
      }
    }

    .missionVision {
      @include center($justify-content: space-between);
      gap: 60px;

      h3 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}
