@mixin center($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin button() {
  padding: 8px 25px;
  font-family: $base-font2;
  color: $base-color1;
  border: 2px solid $base-color1;
  font-weight: 500;
  background-color: transparent;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @include buttonHoverEffect;
}

@mixin buttonHoverEffect() {
  &:hover {
    background-color: $base-color1;
    color: $base-color2;
  }
}

@mixin buttonSecond() {
  padding: 8px 25px;
  font-family: $base-font2;
  color: $base-color2;
  border: 2px solid $base-color1;
  font-weight: 500;
  background-color: $base-color1;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  @include buttonHoverEffectSecond;
}

@mixin buttonHoverEffectSecond() {
  &:hover {
    background-color: $base-color2;
    color: $base-color1;
  }
}
