$base-color1: #003366;
$base-color2: #f5f5dc;
$base-font1: "Playfair Display", serif;
$base-font2: "Open Sans", sans-serif;

// Deep Blue (Deep Blue): This color can be used for the header background and other prominent elements. It creates a sense of wisdom and reliability.
// Creamy Beige (#F5F5DC): This color can be used for the main content background and text. It provides a clean and comfortable backdrop for reading.
